/*----------------------------
	Thumbnails
-----------------------------*/

.thumbs {
    width: 480px;
    margin: 60px auto 35px;
    text-align: center;
}

.thumbs a {
    width: 120px;
    height: 120px;
    display: inline-block;
    border: 7px solid #303030;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 6px 6px 40px;
    position: relative;
    text-decoration: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.thumbs a:after {
    background-color: #303030;
    border-radius: 7px;
    bottom: -136px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    content: attr(title);
    display: inline-block;
    font-size: 10px;
    max-width: 90px;
    overflow: hidden;
    padding: 2px 10px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

#credit {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 11px;
    margin: 0 auto 70px;
    opacity: 0.5;
    padding: 12px 16px;
    text-align: center;
    width: 400px;
}


/*----------------------------
	Media Queries
-----------------------------*/

@media screen and (max-width: 960px) {
    .thumbs,
    #credit {
        width: auto;
    }
    footer {
        display: none;
    }
    #bsaHolder {
        display: none;
    }
}

.button {
    transform: translate(-126%, -11%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 8px 6x;
    border: none;
}