@font-face {
    font-family: 'SolaimanLipi';
    src: url('../font/SolaimanLipi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Nikosh';
    src: url('../font/Nikosh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

body,
.popover {
    font-family: Poppins, SolaimanLipi, sans-serif;
    color: #000;
    font-size: 16px;
}

#kt_content {
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--sbodycontentbg);
}

.menu-item.menu-item-active > .menu-link .menu-icon i {
    color: #3699FF !important;
}

.brand-logo img {
    width: 42px;
}

.partners img {
    width: 150px;
}

/* @media screen and (min-width: 992px){
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 60px;
    }
} */
.full-width-footer .footer {
    left: 0 !important;
}

.split {
    height: 100%;
}

.split > div {
    float: left;
    height: 100%;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.aside-menu .menu-nav > .menu-item {
    border-top: 1px solid #68673a;
}

.aside-menu .menu-nav > .menu-item:last-child {
    border-bottom: 1px solid #68673a;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link {
    background-color: var(--sactive) !important;


}

.aside-menu .menu-link:hover {
    background-color: #344373 !important;

}

.aside-menu .menu-nav > .menu-item > .menu-link {
    padding: 5px 15px !important;
    min-height: 36px !important;
}

.bootstrap-select > .dropdown-toggle.btn-light .filter-option {
    color: #000000;
}

#kt_quick_cart {
    position: absolute;
}

/* .offcanvas-overlay{
    position: relative !important;
} */
.side-panel-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    width: 100%;
    z-index: 999;
}

.select2-selection, .select2-dropdown {
    border: 1px solid var(--sheaderbg);
    border-radius: 0 !important;
}

@media screen and (min-width: 992px) {
    .footer-fixed .footer {
        height: auto !important;
    }
}

.width-120p {
    width: 120px;
}

.fixed-width-dropdown::after {
    float: right;
    top: 0px;
}

@media (min-width: 640px) {
    .dropdown-menu.dropdown-menu-lg {
        width: 600px;
        z-index: 9999999999 !important;
        left: 50px !important;
    }
}

.mileStone-close {
    position: absolute;
    z-index: 1;
    right: -15px;
    top: -15px;
}

@font-face {
    font-family: SutonnyBanglaFont;
    src: url(../font/SutonnyMJ.woff);
}

.bangla-number-input {
    font-family: SutonnyMJ, serif !important;
    font-size: 14px;
    text-align: right;
}

.bijoy-bangla {
    font-family: SutonnyMJ, serif !important;
    font-size: 14px;
}


input[type="text"]::placeholder {
    text-align: left;
}

/*.form-control::placeholder {
    color: #000;
    opacity: 1;
}*/

.annual-plan-table {
    width: 100%;
}

.annual-plan-table table tr td {
    background-color: black;
}

.annual-plan-title {
    width: 40%;
    padding: 2%;
    background-color: #ebedf3
}

.banner {
    color: #3080d4;
    background: #f9fbfe !important;
    border-radius: 4px;
    box-shadow: 0 0 30px rgb(229, 239, 250) inset, 0 1px 5px rgb(193 224 255);
}

.objectiveAppendSection fieldset.scheduler-border {
    border: 1px solid #E4E6EF !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 1em 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.objectiveAppendSection legend.scheduler-border {
    padding: 5px 10px;
    border-bottom: none;
    font-size: 13px;
    background: #c1e0ff;
}

.objectiveAppendSection legend.scheduler-border .btn_objective_add {
    padding: 2px 5px;
}

.objectiveAppendSection legend.scheduler-border .btn_objective_add i {
    font-size: 13px !important;
}

.annual-plan-table.subject-matter .annual-plan-title {
    width: 22%;
}

.annual-plan-table.subject-matter table tr td {
    background-color: unset;
}

/* tapp css */
.tapp-sub-topbar {
    padding: 7px 16px;
    list-style: none;
    background-color: var(--sbreadcrumbbg);
    margin-bottom: 0;
    margin-top: 25px;
    text-align: right;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

/* sna css */

ul.sna-breadcrumb {
    padding: 7px 16px;
    list-style: none;
    background-color: var(--sbreadcrumbbg);
    -webkit-box-shadow: 0px 0px 40px 0px rgb(82 63 105 / 10%);
    box-shadow: 0px 0px 40px 0px rgb(82 63 105 / 10%);
    margin-bottom: 0;
    margin-top: 10px;
}

ul.sna-breadcrumb li {
    display: inline;
    font-size: 13px;
    font-weight: 500;
}

ul.sna-breadcrumb li + li:before {
    padding: 8px;
    color: #4f4e28;
    content: "â¯";
}

ul.sna-breadcrumb li {
    color: #4f4e28;
}

ul.sna-breadcrumb li a {
    color: #4f4e28;
    text-decoration: none;
}

ul.sna-breadcrumb li a:hover {
    color: #000000;
    text-decoration: none;
}

.brand-logo h3 {
    margin-top: 2px;
}

.under-logo-text {
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 6px 15px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;

}

.aside-menu .menu-nav {
    padding: 0px;
}

.aside {
    transition: all .5s;
}

#kt_wrapper, #kt_header {
    transition: all .5s;
}


.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    padding: 0;
}

#kt_header_menu .menu-item .btn {
    padding: 14px 10px 14px 10px;
    font-weight: bold;
    font-size: 15px;
    color: var(--sheadertxtcolor);
    border-radius: 0;
    text-transform: uppercase;
}

#kt_header_menu .menu-item .btn:hover {
    background-color: var(--sheadertxthover);
}

#kt_header_menu .menu-item .btn[aria-expanded="true"] {
    background-color: var(--sheadertxthover);
}


#kt_header {
    /*height: auto !important;
    background: var(--sheaderbg);*/
    height: 50px !important;
    background: #2f25cf;
}

#kt_wrapper, .header-fixed .wrapper {
    padding-top: 27px;
}

.header-menu .menu-nav > .menu-item {
    padding: 0;
}


.top-left-menus-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

}

.top-left-menus-icon i {
    color: #4f4e28;
}

.modal .modal-header {
    background: var(--sheaderbg);

}

.modal .modal-header .modal-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}

.modal-close-btn {
    padding: 0;
    border: none;
    background: none;
}

.modal-close-btn i {
    color: #ffffff;

}

.sna-modal-body {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.sna-modal-body > a {
    width: 100%;
    text-decoration: none;
    color: var(--sprimary);
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;

}

.sna-modal-body > a:hover {
    background: #ededed;

}

.sna-modal-body > a i {
    margin-right: 12px;
    color: var(--sprimary);
    font-size: 22px;
}

.sna-modal-body > a > div {
    display: flex;
    align-items: center;
}

#top-right-menus-modal .sna-modal-body > a {
    width: 50%;
}

#kt_header i {
    color: var(--sheadertxtcolor);
}

.top-right-username {
    color: var(--sheadertxtcolor);
    margin-right: 7px;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.top-right-username div {
    width: 100%;
}

.top-right-username .profile-name {
    font-size: 15px;
    text-align: right;
    font-weight: 500;
}

.top-right-username .profile-designation {
    font-size: 11px;
    text-align: right;
}

.sna-card-border {
    border: 1px solid var(--sbodycardborder);
    box-shadow: 0 2px 3px 0px rgb(0 0 0 / 10%);
}

.icon-btn-primary {
    background: var(--sprimary);
    color: white;
    font-weight: bold;
}

.icon-btn-primary:hover {
    background: var(--sheaderbg);
    color: white;
}

.icon-btn-primary i {
    color: white;
}


.sna-today-tomorrow-card h4 {
    background: var(--sheaderbg);
    color: var(--sheadertxtcolor);
    font-weight: bold;

}

.sna-today-tomorrow-card a {
    background: var(--sbreadcrumbbg);
    border: 1px solid var(--sheaderbg);
    color: var(--sprimary);
    box-sizing: border-box;
}

.sna-today-tomorrow-card a:hover {
    background: var(--sbreadcrumbhover);
}

.sna-today-tomorrow-card a:last-child {
    border-left: none;
}

#kt_quick_user .header {
    background: var(--sheaderbg);
    color: var(--sheadertxtcolor);
    height: auto;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

#kt_quick_user .header button {
    border: none;
    background: none;

}

#kt_quick_user .header i {
    color: white;
    font-weight: 600;

}

#kt_quick_user .profile-top-part {
    background: var(--sprimary);
    color: white;

}

#kt_quick_user .logout-button {
    background: var(--sactive);
    color: white;
    font-weight: 600;

}

#kt_quick_user .logout-button:hover {
    background: #b72222;

}

#kt_quick_user .logout-button i {
    color: white;
}

#kt_quick_user .offcanvas-content {
    background: var(--sbreadcrumbbg);
}

.side-profile a {
    border-bottom: 1px solid var(--sprimary);
    padding: 10px;
}

.side-profile {
    padding-top: 0;
}

.fc-unthemed .fc-event.fc-start .fc-content:before, .fc-unthemed .fc-event-dot.fc-start .fc-content:before {
    background: #040c2c;
}

.border-bottom {
    border-color: #1061a5 !important
}


/*buttons*/
.btn-create, .btn-approval, .btn-download, .btn-sent {
    color: #FFFFFF;
}

.btn.btn-create {
    background-color: #5a5ad5;
    border-color: #5a5ad5;
}

.btn.btn-create:hover {
    color: #FFFFFF;
}

.btn.btn-edit {
    color: #ffffff;
    background-color: #de8f00;
    border-color: #de8f00;
}

.btn.btn-details {
    color: #ffffff;
    background-color: #7D3C98;
    border-color: #7D3C98;
}

.btn.btn-approval {
    background-color: #067618;
    border-color: #067618;
}

.btn.btn-download {
    background-color: #b61903;
    border-color: #b61903;
}

.btn.btn-sent {
    background-color: #1f60a3;
    border-color: #1f60a3;
}

.btn.btn-quick-panel-close {
    color: #ffffff;
    background-color: #f26d3e;
    border-color: #f26d3e;
}

.topbar .widget_container svg {
    height: 24px !important;
    width: 24px !important;
}

.topbar-item .symbol img {
    max-width: 27px;
    height: auto;
}

#kt_header_menu .menu-item .btn.dropdown-toggle {
    padding: 14px 10px 10px 10px;
}

.sna-top-left-toggle-menu > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    border: 1px solid #c5e5ff;
}

.sna-top-left-toggle-menu > div:hover {
    background: #f3f9ff;
}

.toolbar .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    line-height: 20px;
}

.qac-modal {

}

.qac-modal .body-wrapper {
    border-bottom: 1px solid var(--sheaderbg);;
}

.qac-modal .offcanvas-header {
    padding: 12px;
    border-bottom: 1px solid var(--sheaderbg);
    background: #d1eaff;
}

.qac-modal .officers_list_area {
    border-right: 1px solid var(--sheaderbg);
}

.topbar .widget_container svg {
    height: 24px !important;
    width: 24px !important;
}

.topbar-item .symbol img {
    max-width: 27px;
    height: auto;
}

#kt_header_menu .menu-item .btn.dropdown-toggle {
    padding: 14px 10px 10px 10px;
}

.sna-top-left-toggle-menu > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    border: 1px solid #c5e5ff;
}

.sna-top-left-toggle-menu > div:hover {
    background: #f3f9ff;
}

.toolbar .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    line-height: 20px;
}

.qac-modal {

}

.qac-modal .body-wrapper {
    border-bottom: 1px solid var(--sheaderbg);;
}

.qac-modal .offcanvas-header {
    padding: 15px;
    border-bottom: 1px solid var(--sheaderbg);
    background: #ffffff;
}

.qac-modal .officers_list_area {
    border-right: 1px solid var(--sheaderbg);
}

.fc-unthemed .fc-event .fc-content, .fc-unthemed .fc-event-dot .fc-content {
    padding-left: 0.55rem !important;
}

.fc-unthemed .fc-event .fc-content:before, .fc-unthemed .fc-event-dot .fc-content:before {
    display: none !important;
    content: " ";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 0.7rem;
    left: 0.75rem;
}


/*tap button */
.tap-button {
    color: black!important;
}

.tap-button > i{
    color: black!important;
}

.tap-button:hover {
    background-color: #d3d3d3!important;
    color: black!important;
    border: 1px solid black!important;
}


/*tap alert button*/
.tap-alert-success {
    color: black!important;
    background: #72d9d8!important;
}

.tap-alert-danger {
    color: black!important;
    background: #ffb4bb!important;
}

/*tap badge*/
.tap-badge-warning{
    color: #ffffff!important;
    background-color: #f26d3e!important;
}

.tap-badge-success{
    color: #ffffff!important;
    background-color: #358323!important;
}

/*fieldset*/
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

/*pagination*/
.pagination_ui {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.pagination ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.pagination ul li {
    color: rgba(76, 120, 234, 0.85);
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
    border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff;
    background: rgba(76, 120, 234, 0.85);
}
