
@font-face {
    font-family: 'SolaimanLipi';
    src: url('../font/SolaimanLipi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

body,
.popover {
    font-family: Poppins, SolaimanLipi, sans-serif;
    color: #000;
}
#kt_content{
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}
.menu-item.menu-item-active > .menu-link .menu-icon i {
    color: #3699FF !important;
}
.brand-logo img{
    width: 42px;
}
.partners img {
    width: 150px;
}
/* @media screen and (min-width: 992px){
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 60px;
    }
} */
.full-width-footer .footer{
    left: 0 !important;
}

.split {
    height: 100%;
}

.split > div {
    float: left;
    height: 100%;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}
.aside-menu .menu-nav > .menu-item {
    margin-right: 15px;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: #c1e0ff !important;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.aside-menu .menu-link:hover {
    background-color: #F3F6F9 !important;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.aside-menu .menu-nav > .menu-item > .menu-link {
    padding: 5px 25px !important;
    min-height: 36px !important;
}
.bootstrap-select > .dropdown-toggle.btn-light .filter-option {
    color: #000000;
}
#kt_quick_cart{
    position: absolute;
}
/* .offcanvas-overlay{
    position: relative !important;
} */
.side-panel-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    content: "";
    height: 100%;
    width: 100%;
    z-index: 999;
}
.select2-selection, .select2-dropdown {
    border-radius: 0 !important;
}
@media screen and (min-width: 992px){
    .footer-fixed .footer{
        height: auto !important;
    }
}
.width-120p{
    width: 120px;
}
.fixed-width-dropdown::after{
    float: right;
    top: 6px;
}

@media (min-width: 640px){
    .dropdown-menu.dropdown-menu-lg {
        width: 600px;
        z-index: 9999999999 !important;
        left: 50px !important;
    }
}
.mileStone-close{
    position: absolute;
    z-index: 1;
    right: -15px;
    top: -15px;
}

@font-face {
font-family: SutonnyBanglaFont;
src: url(../font/SutonnyMJ.woff);
}
.bijoy-bangla{
    font-family: SutonnyBanglaFont, serif;
    font-size: 12px;
}

.annual-plan-table {
    width: 100%;
}

.annual-plan-table table tr td {
    background-color: black;
}
.annual-plan-title {
    width: 40%;
    padding: 2%;
    background-color: #ebedf3
}
