@font-face {
    font-family: 'SolaimanLipi';
    src: url('../font/SolaimanLipi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

body,
.popover {
    font-family: Poppins, SolaimanLipi, sans-serif;
    color: #000;
}

#kt_content {
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--sbodycontentbg);
}

.menu-item.menu-item-active > .menu-link .menu-icon i {
    color: #3699FF !important;
}

.brand-logo img {
    width: 42px;
}

.partners img {
    width: 150px;
}

/* @media screen and (min-width: 992px){
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 60px;
    }
} */
.full-width-footer .footer {
    left: 0 !important;
}

.split {
    height: 100%;
}

.split > div {
    float: left;
    height: 100%;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.aside-menu .menu-nav > .menu-item {
    border-top: 1px solid #68673a;
}
.aside-menu .menu-nav > .menu-item:last-child {
    border-bottom: 1px solid #68673a;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: var(--sactive) !important;
  
    
}

.aside-menu .menu-link:hover {
    background-color: #F3F6F9 !important;
  
}

.aside-menu .menu-nav > .menu-item > .menu-link {
    padding: 5px 15px !important;
    min-height: 36px !important;
}

.bootstrap-select > .dropdown-toggle.btn-light .filter-option {
    color: #000000;
}

#kt_quick_cart {
    position: absolute;
}

/* .offcanvas-overlay{
    position: relative !important;
} */
.side-panel-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    width: 100%;
    z-index: 999;
}

.select2-selection, .select2-dropdown {
    border-radius: 0 !important;
}

@media screen and (min-width: 992px) {
    .footer-fixed .footer {
        height: auto !important;
    }
}

.width-120p {
    width: 120px;
}

.fixed-width-dropdown::after {
    float: right;
    top: 6px;
}

@media (min-width: 640px) {
    .dropdown-menu.dropdown-menu-lg {
        width: 600px;
        z-index: 9999999999 !important;
        left: 50px !important;
    }
}

.mileStone-close {
    position: absolute;
    z-index: 1;
    right: -15px;
    top: -15px;
}

@font-face {
    font-family: SutonnyBanglaFont;
    src: url(../font/SutonnyMJ.woff);
}

.bangla-number-input {
    font-family: SutonnyMJ, serif !important;
    font-size: 14px;
    text-align: right;
}

.bijoy-bangla {
    font-family: SutonnyMJ, serif !important;
    font-size: 14px;
}


input[type="text"]::placeholder {
    text-align: left;
}

.annual-plan-table {
    width: 100%;
}

.annual-plan-table table tr td {
    background-color: black;
}

.annual-plan-title {
    width: 40%;
    padding: 2%;
    background-color: #ebedf3
}

.banner {
    color: #3080d4;
    background: #f9fbfe !important;
    border-radius: 4px;
    box-shadow: 0 0 30px rgb(229, 239, 250) inset, 0 1px 5px rgb(193 224 255);
}

.objectiveAppendSection fieldset.scheduler-border {
    border: 1px solid #E4E6EF !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 1em 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.objectiveAppendSection legend.scheduler-border {
    padding: 5px 10px;
    border-bottom: none;
    font-size: 13px;
    background: #c1e0ff;
}

.objectiveAppendSection legend.scheduler-border .btn_objective_add {
    padding: 2px 5px;
}

.objectiveAppendSection legend.scheduler-border .btn_objective_add i {
    font-size: 13px !important;
}

.annual-plan-table.subject-matter .annual-plan-title {
    width: 22%;
}

.annual-plan-table.subject-matter table tr td {
    background-color: unset;
}

button#voice2text {
    border: none;
    background: transparent;
}


/* sna css */

ul.sna-breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: var(--sbreadcrumbbg);
    -webkit-box-shadow: 0px 0px 40px 0px rgb(82 63 105 / 10%);
    box-shadow: 0px 0px 40px 0px rgb(82 63 105 / 10%);
    margin-bottom: 0;
  }
  ul.sna-breadcrumb li {
    display: inline;
    font-size: 13px;
    font-weight: 500;
  }
  ul.sna-breadcrumb li+li:before {
    padding: 8px;
    color: #4f4e28;
    content: "â¯";
  }
  ul.sna-breadcrumb li {
    color: #4f4e28;
  }
  ul.sna-breadcrumb li a {
    color: #4f4e28;
    text-decoration: none;
  }
  ul.sna-breadcrumb li a:hover {
    color: #000000;
    text-decoration: none;
  }

  .brand-logo h3 {
    margin-top: 2px;
  }

  .under-logo-text{
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    
    padding: 6px 15px;
    
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
      
  }

  .aside-menu .menu-nav{
      padding: 0px;
  }
  .aside {
    transition: all .5s;
}
#kt_wrapper, #kt_header{
    transition: all .5s;
}


.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
    padding: 0;
}

#kt_header_menu .menu-item .btn{
    padding: 12px;
    font-weight: bold;
    font-size: 13px;
    color: var(--sheadertxtcolor);
    border-radius: 0;
}
#kt_header_menu .menu-item .btn:hover{
    background-color: var(--sheadertxthover);
}
#kt_header_menu .menu-item .btn[aria-expanded="true"]{
    background-color: var(--sheadertxthover);
  }



#kt_header{
    height: auto !important;
    background: var(--sheaderbg);
}
#kt_wrapper, .header-fixed .wrapper {
    padding-top: 45px;
}
.header-menu .menu-nav > .menu-item {
    padding: 0;
}


.top-left-menus-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

}
.top-left-menus-icon i{
    color: #4f4e28;
}
.modal .modal-header{
    background: var(--sheaderbg);

}

.modal .modal-header .modal-title{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}

.modal-close-btn{
    padding: 0;
    border: none;
    background: none;
}
.modal-close-btn i{
    color:#ffffff;
    
}
.sna-modal-body{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.sna-modal-body > a {
    width: 100%;
    text-decoration: none;
    color: var(--sprimary);
    padding:10px 12px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    
}
.sna-modal-body > a:hover {
    background: #ededed;
    
}
.sna-modal-body > a i{
    margin-right: 12px;
    color: var(--sprimary);
    font-size: 22px;
}
.sna-modal-body > a > div{
    display: flex;
    align-items: center;
}

#top-right-menus-modal .sna-modal-body > a {
    width: 50%;
}
#kt_header i {
    color: var(--sheadertxtcolor);
}
.top-right-username{
    color: var(--sheadertxtcolor);
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}
.top-right-username div{
    width: 100%;
}
.top-right-username .profile-name{
    font-size: 15px;
    text-align: right;
    font-weight: 500;
}
.top-right-username .profile-designation{
    font-size: 11px;
    text-align: right;
}
.sna-card-border{
    border: 1px solid var(--sbodycardborder);
    box-shadow: 0 2px 3px 0px rgb(0 0 0 / 10%);
  }

  .icon-btn-primary{
    background: var(--sprimary);
    color: white;
    font-weight:bold;
}
.icon-btn-primary:hover{
    background: var(--sheaderbg);
    color: white;
}
.icon-btn-primary i{
    color: white;
}


.sna-today-tomorrow-card h4{
    background: var(--sheaderbg);
    color: var(--sheadertxtcolor);
    font-weight:bold;
        
}
.sna-today-tomorrow-card a{
    background: var(--sbreadcrumbbg);
    border: 1px solid var(--sheaderbg);
    color: var(--sprimary);
    box-sizing: border-box;
}
.sna-today-tomorrow-card a:hover{
    background: var(--sbreadcrumbhover);
}
.sna-today-tomorrow-card a:last-child{
    border-left:none;
}

#kt_quick_user .header{
 background: var(--sheaderbg);
 color: var(--sheadertxtcolor);
 height: auto;
 padding-top: 11px;
 padding-bottom: 11px;
 padding-left: 10px;
 padding-right: 10px;
}
#kt_quick_user .header button{
 border: none;
 background: none;

}
#kt_quick_user .header i{
 color: white;
 font-weight: 600;

}
#kt_quick_user .profile-top-part{
 background: var(--sprimary);
 color: white;

}
#kt_quick_user .logout-button{
 background: var(--sactive);
 color: white;
 font-weight: 600;

}
#kt_quick_user .logout-button:hover{
    background: #b72222;

}
#kt_quick_user .logout-button i{
 color: white;
}

#kt_quick_user .offcanvas-content{
 background: var(--sbreadcrumbbg);
}

.side-profile a{
    border-bottom:1px solid var(--sprimary);
    padding: 10px;
}
.side-profile {
   
    padding-top: 0;
}